pkgbase = zfs-utils
	pkgdesc = Kernel module support files for the Zettabyte File System.
	pkgver = 2.1.5
	pkgrel = 3
	url = http://zfsonlinux.org/
	install = zfs-utils.install
	arch = x86_64
	groups = archzfs-linux
	license = CDDL
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-cffi
	optdepends = python: pyzfs and extra utilities,
	optdepends = python-cffi: pyzfs
	provides = zfs-utils
	provides = spl-utils
	conflicts = zfs-utils
	conflicts = spl-utils
	replaces = zfs-utils-linux
	replaces = zfs-utils-linux-lts
	replaces = zfs-utils-common
	backup = etc/zfs/zed.d/zed.rc
	backup = etc/default/zfs
	backup = etc/modules-load.d/zfs.conf
	backup = etc/sudoers.d/zfs
	source = https://github.com/zfsonlinux/zfs/releases/download/zfs-2.1.5/zfs-2.1.5.tar.gz
	source = zfs-utils.initcpio.install
	source = zfs-utils.initcpio.hook
	source = zfs-utils.initcpio.zfsencryptssh.install
	sha256sums = 1913041e5c44ff07ca384346ad8145aeedf77e77cd1cea9ec5d533246691e10c
	sha256sums = d19476c6a599ebe3415680b908412c8f19315246637b3a61e811e2e0961aea78
	sha256sums = 5c53cd7805853e7eb8fa53143fb4a284e7e33171f7f4b4de444171ca4dfda37e
	sha256sums = 93e6ac4e16f6b38b2fa397a63327bcf7001111e3a58eb5fb97c888098c932a51

pkgname = zfs-utils
