pkgbase = zfs-utils
	pkgdesc = Kernel module support files for the Zettabyte File System.
	pkgver = 0.8.1
	pkgrel = 1
	url = http://zfsonlinux.org/
	install = zfs-utils.install
	arch = x86_64
	groups = archzfs-linux
	license = CDDL
	makedepends = python
	makedepends = python-setuptools
	makedepends = python-cffi
	optdepends = python: pyzfs and extra utilities,
	optdepends = python-cffi: pyzfs
	provides = zfs-utils
	provides = spl-utils
	conflicts = zfs-utils
	conflicts = spl-utils
	replaces = zfs-utils-linux
	replaces = zfs-utils-linux-lts
	replaces = zfs-utils-common
	backup = etc/zfs/zed.d/zed.rc
	backup = etc/default/zfs
	backup = etc/modules-load.d/zfs.conf
	source = https://github.com/zfsonlinux/zfs/releases/download/zfs-0.8.1/zfs-0.8.1.tar.gz
	source = zfs-utils.initcpio.install
	source = zfs-utils.initcpio.hook
	source = zfs-utils.initcpio.zfsencryptssh.install
	sha256sums = 0af79fde44b7b8ecb94d5166ce2e4fff7409c20ed874c2d759db92909e6c2799
	sha256sums = 29a8a6d76fff01b71ef1990526785405d9c9410bdea417b08b56107210d00b10
	sha256sums = 78e038f95639c209576e7fa182afd56ac11a695af9ebfa958709839ff1e274ce
	sha256sums = 29080a84e5d7e36e63c4412b98646043724621245b36e5288f5fed6914da5b68

pkgname = zfs-utils

